In [1]:
from geopy.geocoders import Nominatim

In [2]:
geolocator = Nominatim(user_agent="http")
address = 'BGŻ BNP Paribas, Marcina Kasprzaka 2, 01-211 Warszawa'
location = geolocator.geocode(address)
print(location.address)
print((location.latitude, location.longitude))

BGŻ BNP Paribas, 10/16, Marcina Kasprzaka, Czyste, Wola, Warszawa, województwo mazowieckie, 01-213, Polska
(52.2294694, 20.974774)

In [3]:
import requests
import urllib.parse

In [4]:
address = 'BGŻ BNP Paribas, Marcina Kasprzaka 2, 01-211 Warszawa'
url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

response = requests.get(url).json()
print((response[0]["lat"], response[0]["lon"]))
print(response[0]["display_name"])

('52.2294694', '20.974774')
BGŻ BNP Paribas, 10/16, Marcina Kasprzaka, Czyste, Wola, Warszawa, województwo mazowieckie, 01-213, Polska

In [5]:
geolocator = Nominatim(user_agent="http")
address = 'BGŻ BNP Paribas, Marcina Kasprzaka 2, 01-211 Warszawa'

try:
    location = geolocator.geocode(address)
    print(location.address)
    print((location.latitude, location.longitude))
except:
    print("address is not defined!")
finally:
    print("done!")

BGŻ BNP Paribas, 10/16, Marcina Kasprzaka, Czyste, Wola, Warszawa, województwo mazowieckie, 01-213, Polska
(52.2294694, 20.974774)
done!

In [6]:
import numpy as np
import pandas as pd
import json
from IPython.display import display

In [7]:
a1 = 'Marcina Kasprzaka 2, 01-211 Warszawa'
a2 = 'Aleja Jana Pawła II 17, 00-854 Warszawa'
a3 = 'Puławska 15, 02-515 Warszawa'
a4 = 'Rondo Ignacego Daszyńskiego 2C, 00-843 Warszawa'
a5 = 'Świętokrzyska 11/21, 00-919 Warszawa'
address_dict = {'address': [a1, a2, a3, a4, a5]}
dataframe = pd.DataFrame.from_dict(address_dict)
dataframe['address_loc'] = ''
dataframe['latitude'] = np.nan
dataframe['longitude'] = np.nan
display(dataframe)

,address,address_loc,latitude,longitude
0,"Marcina Kasprzaka 2, 01-211 Warszawa",,NaN,NaN
1,"Aleja Jana Pawła II 17, 00-854 Warszawa",,NaN,NaN
2,"Puławska 15, 02-515 Warszawa",,NaN,NaN
3,"Rondo Ignacego Daszyńskiego 2C, 00-843 Warszawa",,NaN,NaN
4,"Świętokrzyska 11/21, 00-919 Warszawa",,NaN,NaN

In [8]:
geolocator = Nominatim(user_agent="http")

for index, row in dataframe.iterrows():
    address = row['address']
    latitude = None
    longitude = None
    try:
        location = geolocator.geocode(address)
        address_loc = location.address
        latitude = location.latitude
        longitude = location.longitude
    except:
        latitude = None
        longitude = None
        address_loc = 'address is not defined!'
    finally:
        dataframe.at[index, 'address_loc'] = address_loc
        dataframe.at[index, 'latitude'] = latitude
        dataframe.at[index, 'longitude'] = longitude

display(dataframe)

,address,address_loc,latitude,longitude
0,"Marcina Kasprzaka 2, 01-211 Warszawa","2, Marcina Kasprzaka, Czyste, Wola, Warszawa, ...",52.230035,20.977560
1,"Aleja Jana Pawła II 17, 00-854 Warszawa","Santander, 17, Aleja Jana Pawła II, Za Żelazną...",52.234046,20.997241
2,"Puławska 15, 02-515 Warszawa","15, Puławska, Stary Mokotów, Mokotów, Warszawa...",52.210814,21.022002
3,"Rondo Ignacego Daszyńskiego 2C, 00-843 Warszawa","Rondo Ignacego Daszyńskiego, Mirów, Wola, Wars...",52.230066,20.984641
4,"Świętokrzyska 11/21, 00-919 Warszawa",address is not defined!,NaN,NaN