In [1]:
import numpy as np
import pandas as pd
import polars as pl
import polars.selectors as cs
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import display
# Config the matlotlib backend as plotting inline in IPython
%matplotlib inline

In [2]:
df = pl.read_parquet('credit_datase.parquet')

numeric = df.select(cs.numeric()).columns
string = df.select(cs.string()).columns

print('Numeric columns: ' + str(numeric))
print('String columns: ' + str(string))

out = df.select(pl.col("*"))
out

Numeric columns: ['Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Monthly_Balance']
String columns: ['ID', 'Customer_ID', 'Month', 'Name', 'SSN', 'Occupation', 'Type_of_Loan', 'Credit_Mix', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Payment_Behaviour', 'Credit_Score']

shape: (100_000, 28)
┌─────────┬────────────┬──────────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ ID      ┆ Customer_I ┆ Month    ┆ Name       ┆ … ┆ Amount_in ┆ Payment_B ┆ Monthly_B ┆ Credit_Sc │
│ ---     ┆ D          ┆ ---      ┆ ---        ┆   ┆ vested_mo ┆ ehaviour  ┆ alance    ┆ ore       │
│ str     ┆ ---        ┆ str      ┆ str        ┆   ┆ nthly     ┆ ---       ┆ ---       ┆ ---       │
│         ┆ str        ┆          ┆            ┆   ┆ ---       ┆ str       ┆ f64       ┆ str       │
│         ┆            ┆          ┆            ┆   ┆ f64       ┆           ┆           ┆           │
╞═════════╪════════════╪══════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 0x1602  ┆ CUS_0xd40  ┆ January  ┆ Aaron      ┆ … ┆ 80.415295 ┆ High      ┆ 312.49408 ┆ Good      │
│         ┆            ┆          ┆ Maashoh    ┆   ┆           ┆ spent     ┆ 9         ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ Small     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ value     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ payments  ┆           ┆           │
│ 0x1603  ┆ CUS_0xd40  ┆ February ┆ Aaron      ┆ … ┆ 118.28022 ┆ Low spent ┆ 284.62916 ┆ Good      │
│         ┆            ┆          ┆ Maashoh    ┆   ┆ 2         ┆ Large     ┆ 2         ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ value     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ payments  ┆           ┆           │
│ 0x1604  ┆ CUS_0xd40  ┆ March    ┆ Aaron      ┆ … ┆ 81.699521 ┆ Low spent ┆ 331.20986 ┆ Good      │
│         ┆            ┆          ┆ Maashoh    ┆   ┆           ┆ Medium    ┆ 3         ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ value     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ payments  ┆           ┆           │
│ 0x1605  ┆ CUS_0xd40  ┆ April    ┆ Aaron      ┆ … ┆ 199.45807 ┆ Low spent ┆ 223.45131 ┆ Good      │
│         ┆            ┆          ┆ Maashoh    ┆   ┆ 4         ┆ Small     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ value     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ payments  ┆           ┆           │
│ …       ┆ …          ┆ …        ┆ …          ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 0x25fea ┆ CUS_0x942c ┆ May      ┆ Nicks      ┆ … ┆ 54.18595  ┆ High      ┆ 496.65161 ┆ Poor      │
│         ┆            ┆          ┆            ┆   ┆           ┆ spent     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ Medium    ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ value     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ payments  ┆           ┆           │
│ 0x25feb ┆ CUS_0x942c ┆ June     ┆ Nicks      ┆ … ┆ 24.028477 ┆ High      ┆ 516.80908 ┆ Poor      │
│         ┆            ┆          ┆            ┆   ┆           ┆ spent     ┆ 3         ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ Large     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ value     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ payments  ┆           ┆           │
│ 0x25fec ┆ CUS_0x942c ┆ July     ┆ Nicks      ┆ … ┆ 251.67258 ┆ Low spent ┆ 319.16497 ┆ Standard  │
│         ┆            ┆          ┆            ┆   ┆ 2         ┆ Large     ┆ 9         ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ value     ┆           ┆           │
│         ┆            ┆          ┆            ┆   ┆           ┆ payments  ┆           ┆           │
│ 0x25fed ┆ CUS_0x942c ┆ August   ┆ Nicks      ┆ … ┆ 167.16386 ┆ !@9#%8    ┆ 393.67369 ┆ Poor      │
│         ┆            ┆          ┆            ┆   ┆ 5         ┆           ┆ 6         ┆           │
└─────────┴────────────┴──────────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [3]:
out = (df
       .select(pl.col("*")
       .exclude(string))
       )
out

shape: (100_000, 16)
┌──────┬────────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ Age  ┆ Annual_Inc ┆ Monthly_In ┆ Num_Bank_A ┆ … ┆ Credit_Uti ┆ Total_EMI ┆ Amount_in ┆ Monthly_B │
│ ---  ┆ ome        ┆ hand_Salar ┆ ccounts    ┆   ┆ lization_R ┆ _per_mont ┆ vested_mo ┆ alance    │
│ i64  ┆ ---        ┆ y          ┆ ---        ┆   ┆ atio       ┆ h         ┆ nthly     ┆ ---       │
│      ┆ f64        ┆ ---        ┆ i64        ┆   ┆ ---        ┆ ---       ┆ ---       ┆ f64       │
│      ┆            ┆ f64        ┆            ┆   ┆ f64        ┆ f64       ┆ f64       ┆           │
╞══════╪════════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 23   ┆ 19114.12   ┆ 1824.84333 ┆ 3          ┆ … ┆ 26.82262   ┆ 49.574949 ┆ 80.415295 ┆ 312.49408 │
│      ┆            ┆ 3          ┆            ┆   ┆            ┆           ┆           ┆ 9         │
│ 23   ┆ 19114.12   ┆ null       ┆ 3          ┆ … ┆ 31.94496   ┆ 49.574949 ┆ 118.28022 ┆ 284.62916 │
│      ┆            ┆            ┆            ┆   ┆            ┆           ┆ 2         ┆ 2         │
│ -500 ┆ 19114.12   ┆ null       ┆ 3          ┆ … ┆ 28.609352  ┆ 49.574949 ┆ 81.699521 ┆ 331.20986 │
│      ┆            ┆            ┆            ┆   ┆            ┆           ┆           ┆ 3         │
│ 23   ┆ 19114.12   ┆ null       ┆ 3          ┆ … ┆ 31.377862  ┆ 49.574949 ┆ 199.45807 ┆ 223.45131 │
│      ┆            ┆            ┆            ┆   ┆            ┆           ┆ 4         ┆           │
│ …    ┆ …          ┆ …          ┆ …          ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ 25   ┆ 39628.99   ┆ 3359.41583 ┆ 4          ┆ … ┆ 40.565631  ┆ 35.104023 ┆ 54.18595  ┆ 496.65161 │
│      ┆            ┆ 3          ┆            ┆   ┆            ┆           ┆           ┆           │
│ 25   ┆ 39628.99   ┆ 3359.41583 ┆ 4          ┆ … ┆ 41.255522  ┆ 35.104023 ┆ 24.028477 ┆ 516.80908 │
│      ┆            ┆ 3          ┆            ┆   ┆            ┆           ┆           ┆ 3         │
│ 25   ┆ 39628.99   ┆ 3359.41583 ┆ 4          ┆ … ┆ 33.638208  ┆ 35.104023 ┆ 251.67258 ┆ 319.16497 │
│      ┆            ┆ 3          ┆            ┆   ┆            ┆           ┆ 2         ┆ 9         │
│ 25   ┆ 39628.99   ┆ 3359.41583 ┆ 4          ┆ … ┆ 34.192463  ┆ 35.104023 ┆ 167.16386 ┆ 393.67369 │
│      ┆            ┆ 3          ┆            ┆   ┆            ┆           ┆ 5         ┆ 6         │
└──────┴────────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [4]:
out = ( df
       .select(
        np.log(pl.all().exclude(string))
        .suffix("_log"))
      )
out

/opt/conda/lib/python3.11/site-packages/polars/series/series.py:1113: RuntimeWarning: invalid value encountered in log
  series = f(lambda out: ufunc(*args, out=out, dtype=dtype_char, **kwargs))
/opt/conda/lib/python3.11/site-packages/polars/series/series.py:1113: RuntimeWarning: divide by zero encountered in log
  series = f(lambda out: ufunc(*args, out=out, dtype=dtype_char, **kwargs))

shape: (100_000, 16)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Age_log  ┆ Annual_In ┆ Monthly_I ┆ Num_Bank_ ┆ … ┆ Credit_Ut ┆ Total_EMI ┆ Amount_in ┆ Monthly_B │
│ ---      ┆ come_log  ┆ nhand_Sal ┆ Accounts_ ┆   ┆ ilization ┆ _per_mont ┆ vested_mo ┆ alance_lo │
│ f64      ┆ ---       ┆ ary_log   ┆ log       ┆   ┆ _Ratio_lo ┆ h_log     ┆ nthly_log ┆ g         │
│          ┆ f64       ┆ ---       ┆ ---       ┆   ┆ g         ┆ ---       ┆ ---       ┆ ---       │
│          ┆           ┆ f64       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ f64       │
│          ┆           ┆           ┆           ┆   ┆ f64       ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 3.135494 ┆ 9.858183  ┆ 7.509249  ┆ 1.098612  ┆ … ┆ 3.289246  ┆ 3.903486  ┆ 4.387204  ┆ 5.744586  │
│ 3.135494 ┆ 9.858183  ┆ null      ┆ 1.098612  ┆ … ┆ 3.464014  ┆ 3.903486  ┆ 4.773057  ┆ 5.651187  │
│ NaN      ┆ 9.858183  ┆ null      ┆ 1.098612  ┆ … ┆ 3.353734  ┆ 3.903486  ┆ 4.403048  ┆ 5.802752  │
│ 3.135494 ┆ 9.858183  ┆ null      ┆ 1.098612  ┆ … ┆ 3.446103  ┆ 3.903486  ┆ 5.295604  ┆ 5.409194  │
│ …        ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 3.218876 ┆ 10.587316 ┆ 8.119522  ┆ 1.386294  ┆ … ┆ 3.702921  ┆ 3.558316  ┆ 3.992422  ┆ 6.207889  │
│ 3.218876 ┆ 10.587316 ┆ 8.119522  ┆ 1.386294  ┆ … ┆ 3.719785  ┆ 3.558316  ┆ 3.17924   ┆ 6.247674  │
│ 3.218876 ┆ 10.587316 ┆ 8.119522  ┆ 1.386294  ┆ … ┆ 3.515663  ┆ 3.558316  ┆ 5.528129  ┆ 5.765708  │
│ 3.218876 ┆ 10.587316 ┆ 8.119522  ┆ 1.386294  ┆ … ┆ 3.532005  ┆ 3.558316  ┆ 5.118975  ┆ 5.975522  │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [5]:
out = (df
       .select("ID", "Customer_ID", 
        (pl.col("Annual_Income") + pl.mean("Annual_Income")).alias("Annual_Income + Mean"),
        (pl.col("Annual_Income") - pl.mean("Annual_Income")).alias("Annual_Income - Mean")
        )
        .with_columns(pl.lit(1).alias("Lit 1"))
      )

out

shape: (100_000, 5)
┌─────────┬─────────────┬──────────────────────┬──────────────────────┬───────┐
│ ID      ┆ Customer_ID ┆ Annual_Income + Mean ┆ Annual_Income - Mean ┆ Lit 1 │
│ ---     ┆ ---         ┆ ---                  ┆ ---                  ┆ ---   │
│ str     ┆ str         ┆ f64                  ┆ f64                  ┆ i32   │
╞═════════╪═════════════╪══════════════════════╪══════════════════════╪═══════╡
│ 0x1602  ┆ CUS_0xd40   ┆ 195529.821298        ┆ -157301.581298       ┆ 1     │
│ 0x1603  ┆ CUS_0xd40   ┆ 195529.821298        ┆ -157301.581298       ┆ 1     │
│ 0x1604  ┆ CUS_0xd40   ┆ 195529.821298        ┆ -157301.581298       ┆ 1     │
│ 0x1605  ┆ CUS_0xd40   ┆ 195529.821298        ┆ -157301.581298       ┆ 1     │
│ …       ┆ …           ┆ …                    ┆ …                    ┆ …     │
│ 0x25fea ┆ CUS_0x942c  ┆ 216044.691298        ┆ -136786.711298       ┆ 1     │
│ 0x25feb ┆ CUS_0x942c  ┆ 216044.691298        ┆ -136786.711298       ┆ 1     │
│ 0x25fec ┆ CUS_0x942c  ┆ 216044.691298        ┆ -136786.711298       ┆ 1     │
│ 0x25fed ┆ CUS_0x942c  ┆ 216044.691298        ┆ -136786.711298       ┆ 1     │
└─────────┴─────────────┴──────────────────────┴──────────────────────┴───────┘

In [6]:
pandas_out = out.to_pandas()
display(pandas_out)

out = pl.from_pandas(pandas_out)
out

            ID Customer_ID  Annual_Income + Mean  Annual_Income - Mean  Lit 1
0       0x1602   CUS_0xd40         195529.821298        -157301.581298      1
1       0x1603   CUS_0xd40         195529.821298        -157301.581298      1
2       0x1604   CUS_0xd40         195529.821298        -157301.581298      1
3       0x1605   CUS_0xd40         195529.821298        -157301.581298      1
4       0x1606   CUS_0xd40         195529.821298        -157301.581298      1
...        ...         ...                   ...                   ...    ...
99995  0x25fe9  CUS_0x942c         216044.691298        -136786.711298      1
99996  0x25fea  CUS_0x942c         216044.691298        -136786.711298      1
99997  0x25feb  CUS_0x942c         216044.691298        -136786.711298      1
99998  0x25fec  CUS_0x942c         216044.691298        -136786.711298      1
99999  0x25fed  CUS_0x942c         216044.691298        -136786.711298      1

[100000 rows x 5 columns]

shape: (100_000, 5)
┌─────────┬─────────────┬──────────────────────┬──────────────────────┬───────┐
│ ID      ┆ Customer_ID ┆ Annual_Income + Mean ┆ Annual_Income - Mean ┆ Lit 1 │
│ ---     ┆ ---         ┆ ---                  ┆ ---                  ┆ ---   │
│ str     ┆ str         ┆ f64                  ┆ f64                  ┆ i32   │
╞═════════╪═════════════╪══════════════════════╪══════════════════════╪═══════╡
│ 0x1602  ┆ CUS_0xd40   ┆ 195529.821298        ┆ -157301.581298       ┆ 1     │
│ 0x1603  ┆ CUS_0xd40   ┆ 195529.821298        ┆ -157301.581298       ┆ 1     │
│ 0x1604  ┆ CUS_0xd40   ┆ 195529.821298        ┆ -157301.581298       ┆ 1     │
│ 0x1605  ┆ CUS_0xd40   ┆ 195529.821298        ┆ -157301.581298       ┆ 1     │
│ …       ┆ …           ┆ …                    ┆ …                    ┆ …     │
│ 0x25fea ┆ CUS_0x942c  ┆ 216044.691298        ┆ -136786.711298       ┆ 1     │
│ 0x25feb ┆ CUS_0x942c  ┆ 216044.691298        ┆ -136786.711298       ┆ 1     │
│ 0x25fec ┆ CUS_0x942c  ┆ 216044.691298        ┆ -136786.711298       ┆ 1     │
│ 0x25fed ┆ CUS_0x942c  ┆ 216044.691298        ┆ -136786.711298       ┆ 1     │
└─────────┴─────────────┴──────────────────────┴──────────────────────┴───────┘

In [7]:
out = ( df
        .select(
        pl.count().alias("Count")
        , (pl.sum("Annual_Income")/pl.count()).alias("Annual_Income")
        , (pl.mean("Annual_Income")/12).alias("Monthly_Income")
        , (pl.col("Monthly_Inhand_Salary")
           .filter(pl.col("Monthly_Inhand_Salary").is_not_null())
           .count()).alias("Not null Monthly_Inhand_Salary")
        , pl.col("Name").n_unique().alias("Unique names")
        , pl.col("Name").first().alias("First name")
        , pl.col("Name").last().alias("Last name")
        , pl.col("Month").sort().first().alias("Alphabetical first")
        )
       .with_columns(
               pl.concat_str(pl.col("First name"), pl.lit(" "), pl.col("Last name"))
               .str.to_uppercase().alias("Full name"))
      )
out

shape: (1, 9)
┌────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Count  ┆ Annual_Inc ┆ Monthly_In ┆ Not null  ┆ … ┆ First     ┆ Last name ┆ Alphabeti ┆ Full name │
│ ---    ┆ ome        ┆ come       ┆ Monthly_I ┆   ┆ name      ┆ ---       ┆ cal first ┆ ---       │
│ u32    ┆ ---        ┆ ---        ┆ nhand_Sal ┆   ┆ ---       ┆ str       ┆ ---       ┆ str       │
│        ┆ f64        ┆ f64        ┆ ary       ┆   ┆ str       ┆           ┆ str       ┆           │
│        ┆            ┆            ┆ ---       ┆   ┆           ┆           ┆           ┆           │
│        ┆            ┆            ┆ u32       ┆   ┆           ┆           ┆           ┆           │
╞════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 100000 ┆ 176415.701 ┆ 14701.3084 ┆ 84998     ┆ … ┆ Aaron     ┆ Nicks     ┆ April     ┆ AARON     │
│        ┆ 298        ┆ 42         ┆           ┆   ┆ Maashoh   ┆           ┆           ┆ MAASHOH   │
│        ┆            ┆            ┆           ┆   ┆           ┆           ┆           ┆ NICKS     │
└────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [8]:
out = ( df
        .select(pl.col("Month").value_counts(sort=True))
        .unnest("Month")
      )
out

shape: (8, 2)
┌──────────┬────────┐
│ Month    ┆ counts │
│ ---      ┆ ---    │
│ str      ┆ u32    │
╞══════════╪════════╡
│ January  ┆ 12500  │
│ February ┆ 12500  │
│ March    ┆ 12500  │
│ April    ┆ 12500  │
│ May      ┆ 12500  │
│ June     ┆ 12500  │
│ July     ┆ 12500  │
│ August   ┆ 12500  │
└──────────┴────────┘

In [9]:
out = df.groupby("Occupation").agg(
        pl.count().alias("Count")
        , pl.col("Annual_Income").mean()
        , pl.col("Num_Bank_Accounts").sum()
        , pl.col("Num_Credit_Card").sum()
        , (pl.col("Occupation") == "Scientist").sum().alias("# Scientist")
        , (pl.col("Occupation") == "Developer").sum().alias("# Developer")
        ).sort(["Count", "Occupation"], descending=[True, False])
out

shape: (16, 7)
┌────────────┬───────┬───────────────┬────────────────┬────────────────┬─────────────┬─────────────┐
│ Occupation ┆ Count ┆ Annual_Income ┆ Num_Bank_Accou ┆ Num_Credit_Car ┆ # Scientist ┆ # Developer │
│ ---        ┆ ---   ┆ ---           ┆ nts            ┆ d              ┆ ---         ┆ ---         │
│ str        ┆ u32   ┆ f64           ┆ ---            ┆ ---            ┆ u32         ┆ u32         │
│            ┆       ┆               ┆ i64            ┆ i64            ┆             ┆             │
╞════════════╪═══════╪═══════════════╪════════════════╪════════════════╪═════════════╪═════════════╡
│            ┆ 7062  ┆ 175976.700304 ┆ 126989         ┆ 169585         ┆ 0           ┆ 0           │
│ Lawyer     ┆ 6575  ┆ 196039.874458 ┆ 107512         ┆ 155779         ┆ 0           ┆ 0           │
│ Architect  ┆ 6355  ┆ 168015.546481 ┆ 119192         ┆ 151758         ┆ 0           ┆ 0           │
│ Engineer   ┆ 6350  ┆ 173880.853179 ┆ 118397         ┆ 123562         ┆ 0           ┆ 0           │
│ …          ┆ …     ┆ …             ┆ …              ┆ …              ┆ …           ┆ …           │
│ Journalist ┆ 6085  ┆ 157595.260546 ┆ 104741         ┆ 130648         ┆ 0           ┆ 0           │
│ Manager    ┆ 5973  ┆ 159213.68316  ┆ 97575          ┆ 134752         ┆ 0           ┆ 0           │
│ Musician   ┆ 5911  ┆ 189441.146763 ┆ 96050          ┆ 122092         ┆ 0           ┆ 0           │
│ Writer     ┆ 5885  ┆ 157502.885875 ┆ 90116          ┆ 134547         ┆ 0           ┆ 0           │
└────────────┴───────┴───────────────┴────────────────┴────────────────┴─────────────┴─────────────┘

In [10]:
out = (df
        .filter(
        (pl.col("Monthly_Inhand_Salary") > pl.mean("Monthly_Inhand_Salary"))
        & pl.col("Name").is_null()
        )
       .with_columns(
            pl.col("Name").fill_null(pl.lit("X"))
        )
      )
out

shape: (3_292, 28)
┌─────────┬─────────────┬──────────┬──────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ ID      ┆ Customer_ID ┆ Month    ┆ Name ┆ … ┆ Amount_inve ┆ Payment_Be ┆ Monthly_Ba ┆ Credit_Sco │
│ ---     ┆ ---         ┆ ---      ┆ ---  ┆   ┆ sted_monthl ┆ haviour    ┆ lance      ┆ re         │
│ str     ┆ str         ┆ str      ┆ str  ┆   ┆ y           ┆ ---        ┆ ---        ┆ ---        │
│         ┆             ┆          ┆      ┆   ┆ ---         ┆ str        ┆ f64        ┆ str        │
│         ┆             ┆          ┆      ┆   ┆ f64         ┆            ┆            ┆            │
╞═════════╪═════════════╪══════════╪══════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 0x161b  ┆ CUS_0x2dbc  ┆ February ┆ X    ┆ … ┆ 232.860384  ┆ High spent ┆ 998.869297 ┆ Good       │
│         ┆             ┆          ┆      ┆   ┆             ┆ Small      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ value      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ payments   ┆            ┆            │
│ 0x1620  ┆ CUS_0x2dbc  ┆ July     ┆ X    ┆ … ┆ 263.174163  ┆ High spent ┆ 968.555517 ┆ Standard   │
│         ┆             ┆          ┆      ┆   ┆             ┆ Small      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ value      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ payments   ┆            ┆            │
│ 0x1662  ┆ CUS_0x4157  ┆ January  ┆ X    ┆ … ┆ 215.193516  ┆ High spent ┆ 802.300442 ┆ Good       │
│         ┆             ┆          ┆      ┆   ┆             ┆ Small      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ value      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ payments   ┆            ┆            │
│ 0x16c3  ┆ CUS_0x6070  ┆ February ┆ X    ┆ … ┆ 710.495381  ┆ Low spent  ┆ 328.663619 ┆ Standard   │
│         ┆             ┆          ┆      ┆   ┆             ┆ Medium     ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ value      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ payments   ┆            ┆            │
│ …       ┆ …           ┆ …        ┆ …    ┆ … ┆ …           ┆ …          ┆ …          ┆ …          │
│ 0x25ee0 ┆ CUS_0x40ad  ┆ March    ┆ X    ┆ … ┆ 415.58268   ┆ Low spent  ┆ 135.336769 ┆ Poor       │
│         ┆             ┆          ┆      ┆   ┆             ┆ Large      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ value      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ payments   ┆            ┆            │
│ 0x25ef8 ┆ CUS_0x8788  ┆ March    ┆ X    ┆ … ┆ 156.316703  ┆ Low spent  ┆ 495.154146 ┆ Poor       │
│         ┆             ┆          ┆      ┆   ┆             ┆ Large      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ value      ┆            ┆            │
│         ┆             ┆          ┆      ┆   ┆             ┆ payments   ┆            ┆            │
│ 0x25f38 ┆ CUS_0x3855  ┆ July     ┆ X    ┆ … ┆ 198.762526  ┆ !@9#%8     ┆ 810.510608 ┆ Good       │
│ 0x25fa1 ┆ CUS_0x51b3  ┆ April    ┆ X    ┆ … ┆ 183.584149  ┆ !@9#%8     ┆ 530.523765 ┆ Standard   │
└─────────┴─────────────┴──────────┴──────┴───┴─────────────┴────────────┴────────────┴────────────┘

In [11]:
out = ( df
        .filter(
            (pl.col("Occupation") == "Scientist")
            | (pl.col("Occupation") == "Developer")
          )
          .filter(
            (pl.col("Annual_Income") > 0)
            & (pl.col("Monthly_Inhand_Salary") > 0)
          ) 
          .filter(pl.col("Age") < 35)
      )

out

shape: (5_642, 28)
┌─────────┬────────────┬─────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ ID      ┆ Customer_I ┆ Month   ┆ Name       ┆ … ┆ Amount_inv ┆ Payment_B ┆ Monthly_B ┆ Credit_Sc │
│ ---     ┆ D          ┆ ---     ┆ ---        ┆   ┆ ested_mont ┆ ehaviour  ┆ alance    ┆ ore       │
│ str     ┆ ---        ┆ str     ┆ str        ┆   ┆ hly        ┆ ---       ┆ ---       ┆ ---       │
│         ┆ str        ┆         ┆            ┆   ┆ ---        ┆ str       ┆ f64       ┆ str       │
│         ┆            ┆         ┆            ┆   ┆ f64        ┆           ┆           ┆           │
╞═════════╪════════════╪═════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 0x1602  ┆ CUS_0xd40  ┆ January ┆ Aaron      ┆ … ┆ 80.415295  ┆ High      ┆ 312.49408 ┆ Good      │
│         ┆            ┆         ┆ Maashoh    ┆   ┆            ┆ spent     ┆ 9         ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ Small     ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ value     ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ payments  ┆           ┆           │
│ 0x1606  ┆ CUS_0xd40  ┆ May     ┆ Aaron      ┆ … ┆ 41.420153  ┆ High      ┆ 341.48923 ┆ Good      │
│         ┆            ┆         ┆ Maashoh    ┆   ┆            ┆ spent     ┆ 1         ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ Medium    ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ value     ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ payments  ┆           ┆           │
│ 0x1608  ┆ CUS_0xd40  ┆ July    ┆ Aaron      ┆ … ┆ 178.344067 ┆ Low spent ┆ 244.56531 ┆ Good      │
│         ┆            ┆         ┆ Maashoh    ┆   ┆            ┆ Small     ┆ 7         ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ value     ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ payments  ┆           ┆           │
│ 0x1609  ┆ CUS_0xd40  ┆ August  ┆ null       ┆ … ┆ 24.785217  ┆ High      ┆ 358.12416 ┆ Standard  │
│         ┆            ┆         ┆            ┆   ┆            ┆ spent     ┆ 8         ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ Medium    ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ value     ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ payments  ┆           ┆           │
│ …       ┆ …          ┆ …       ┆ …          ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ 0x25f35 ┆ CUS_0x3855 ┆ April   ┆ Xolai      ┆ … ┆ 287.234631 ┆ Low spent ┆ 752.03850 ┆ Good      │
│         ┆            ┆         ┆            ┆   ┆            ┆ Medium    ┆ 3         ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ value     ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ payments  ┆           ┆           │
│ 0x25f36 ┆ CUS_0x3855 ┆ May     ┆ Xolai      ┆ … ┆ 94.757926  ┆ High      ┆ 904.51520 ┆ Good      │
│         ┆            ┆         ┆            ┆   ┆            ┆ spent     ┆ 8         ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ Large     ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ value     ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ payments  ┆           ┆           │
│ 0x25f38 ┆ CUS_0x3855 ┆ July    ┆ null       ┆ … ┆ 198.762526 ┆ !@9#%8    ┆ 810.51060 ┆ Good      │
│         ┆            ┆         ┆            ┆   ┆            ┆           ┆ 8         ┆           │
│ 0x25f39 ┆ CUS_0x3855 ┆ August  ┆ Xolai      ┆ … ┆ 10000.0    ┆ High      ┆ 801.75229 ┆ Good      │
│         ┆            ┆         ┆            ┆   ┆            ┆ spent     ┆ 6         ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ Medium    ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ value     ┆           ┆           │
│         ┆            ┆         ┆            ┆   ┆            ┆ payments  ┆           ┆           │
└─────────┴────────────┴─────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [12]:
out = (
    df
    .unique("Monthly_Inhand_Salary", maintain_order=True)
    .select(
        pl.col("Monthly_Inhand_Salary")
        , pl.when(pl.col("Monthly_Inhand_Salary") > pl.mean("Monthly_Inhand_Salary"))
            .then(pl.lit(True))
            .otherwise(pl.lit(False))
            .alias("conditional"))
    .filter(pl.col("conditional") == True)
    .sort("Monthly_Inhand_Salary", descending = True)
)

out

shape: (5_179, 2)
┌───────────────────────┬─────────────┐
│ Monthly_Inhand_Salary ┆ conditional │
│ ---                   ┆ ---         │
│ f64                   ┆ bool        │
╞═══════════════════════╪═════════════╡
│ 15204.633333          ┆ true        │
│ 15167.18              ┆ true        │
│ 15136.696667          ┆ true        │
│ 15115.19              ┆ true        │
│ …                     ┆ …           │
│ 4195.975              ┆ true        │
│ 4194.1275             ┆ true        │
│ 4193.713333           ┆ true        │
│ 4193.16               ┆ true        │
└───────────────────────┴─────────────┘

In [13]:
out = ( df
        .select(pl.col("Name").str.replace(r'"|,', ""))
        .select(pl.col("Name").str.strip())
        .unique("Name", maintain_order=True)
       .select(
            pl.col("Name")
            , pl.col("Name").str.lengths().alias("byte_count")
            , pl.col("Name").str.n_chars().alias("letter_count")
        )
       .sort("Name")
      )

out

shape: (10_129, 3)
┌────────────────────┬────────────┬──────────────┐
│ Name               ┆ byte_count ┆ letter_count │
│ ---                ┆ ---        ┆ ---          │
│ str                ┆ u32        ┆ u32          │
╞════════════════════╪════════════╪══════════════╡
│ null               ┆ null       ┆ null         │
│ A. Ananthalakshmih ┆ 18         ┆ 18           │
│ A. Ananthalakshmiq ┆ 18         ┆ 18           │
│ A. Ananthalakshmix ┆ 18         ┆ 18           │
│ …                  ┆ …          ┆ …            │
│ ty                 ┆ 2          ┆ 2            │
│ yi                 ┆ 2          ┆ 2            │
│ yk                 ┆ 2          ┆ 2            │
│ yv                 ┆ 2          ┆ 2            │
└────────────────────┴────────────┴──────────────┘

In [14]:
out = (
    df
    .select(pl.col("Name").str.replace(r'"|,', ""))
    .select(pl.col("Name").str.strip())
    .unique("Name", maintain_order=True)
    .select(
        pl.col("Name"),
        pl.col("Name").str.contains("Ananthalaks|Pasca").alias("regex"),
        pl.col("Name").str.contains("rob", literal=True).alias("literal"),
        pl.col("Name").str.starts_with("ro").alias("starts_with"),
        pl.col("Name").str.ends_with("Pascales").alias("ends_with"),
    )
    .sort("Name")
)

out

shape: (10_129, 5)
┌────────────────────┬───────┬─────────┬─────────────┬───────────┐
│ Name               ┆ regex ┆ literal ┆ starts_with ┆ ends_with │
│ ---                ┆ ---   ┆ ---     ┆ ---         ┆ ---       │
│ str                ┆ bool  ┆ bool    ┆ bool        ┆ bool      │
╞════════════════════╪═══════╪═════════╪═════════════╪═══════════╡
│ null               ┆ null  ┆ null    ┆ null        ┆ null      │
│ A. Ananthalakshmih ┆ true  ┆ false   ┆ false       ┆ false     │
│ A. Ananthalakshmiq ┆ true  ┆ false   ┆ false       ┆ false     │
│ A. Ananthalakshmix ┆ true  ┆ false   ┆ false       ┆ false     │
│ …                  ┆ …     ┆ …       ┆ …           ┆ …         │
│ ty                 ┆ false ┆ false   ┆ false       ┆ false     │
│ yi                 ┆ false ┆ false   ┆ false       ┆ false     │
│ yk                 ┆ false ┆ false   ┆ false       ┆ false     │
│ yv                 ┆ false ┆ false   ┆ false       ┆ false     │
└────────────────────┴───────┴─────────┴─────────────┴───────────┘